body {
  font-family: 'Pacifico', cursive;
}

.container {
  padding-top: 0px;
  background-color: white;
}

#wrapper {
  padding-top: 5px;
  background-color: lavender;
}

div {
  padding: 5px;
}

.nopadding {
  margin: 0px
}

.left-answer {
  background: inherit;
}

.white {
  background: white;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 5px 5px 2px 1px grey;
}

.lavender {
  background-color: lavender;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.answer {
  margin: 1%;
  padding: 10px;
  background: white;
  border-radius: 2px;
  width: 80%;
  box-shadow: 2px lavender;
}

.left-indent {
  margin-left: 10%;
}

input.lavender{
  margin: 10px
}

button.small {
  color: white;
  margin: 1px;
  border-radius: 10px;
}

.btn-sm {
  height: 20px;
  color: black;
  box-shadow: 5px 5px 5px grey;
  margin-left: 15px;
  font-size: 10px;
  padding: 0px 5px;
}
.btn {
  color: black;
}
select {
  display: block
}
.input-sm {
  height: 20px;
}

.default {
  background-color: transparent;
}

.nopadding {
  padding: 0px;
}
#errors {
  background: transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
#errors ul li {
  display: inline;
  font-size: 12px;
  margin: 10px;
  color: red;
}

.glyphicon.glyphicon-user {
  position: relative;
  display: inline;
  float: left;
}

.credit {
  text-decoration: none;
}

.center-text {
  text-align: center;
}

h3.center-text {
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
  text-shadow: 1px 1px 2px grey;
}

.glyphicon{
    display:none;
    right: 5px;
    position: absolute;
    top: 4px;
    /*cursor:pointer;*/
}



@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
